<div class="page-header">
  <h1>Statusy: wszystkie</h1>
</div>


<% @statuses.each do |status| %>
      
        <div class="single-status">
          <button type="button" class="btn btn-warning pull-right"><%= link_to 'Edytuj', edit_status_path(status) %></button>
          <button type="button" class="btn btn-danger pull-right admin"><%= link_to 'Usuń', status, method: :delete, data: { confirm: 'Jesteś pewien?' } %></button>

          <h2><%= status.name %></h2>
          <p><%= status.content %></p>
          <p class="muted">Created <%= link_to time_ago_in_words(status.created_at) + " ago", status %></p>

        </div>
     
     
    <% end %>





